
/* Copy code from here*/

.bbest-banner-divider > * {
    font-family: 'Barlow';
    font-style: normal;
    letter-spacing: 0px;
}

.bbest-banner-divider h1 {
    font-size: 52px;
    color: #000099;
    line-height: 56px;
    font-weight: 600;
    margin-top: 15px;
}
.bbest-banner-divider p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000099;
    margin-top: 15px;
}
.bbest-banner-divider {
	max-width: 1300px;
	margin: auto;
	height: 368px;
    background-color: #CCCCFF;
    width: 100%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
	padding: 72px;
	display: flex;
}
.bbest-banner-divider-left {
	 width: 50%;
}
.bbest-banner-divider-right{
    width: 50%;
}
.bbest-banner-divider-right > img {
    position: relative;
    top: -130px;
    left: 85px;
}
.bbest-banner-divider-btn {
    font-family: Barlow!important;
    background-color: #0066FF;
    border: none;
    border-radius: 60px;
    padding: 21px 50px;
    line-height: 22px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 768px) {
.bbest-banner-divider  {
	flex-direction: column;
    border-top-left-radius: 20px!important;
    border-top-right-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
    flex-direction: column!important;
    height: auto!important;
    padding: 36px!important;
	height: 368px;
    background-color: #CCCCFF;
    width: 100%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
	padding: 72px;
	display: flex;
}
.bbest-banner-divider-left {
		width: 100%;
	}
.bbest-banner-divider-right > img {
  top: 36px!important;
  width: auto!important;
  left: -46px!important;
}
.bbest-banner-divider-left button {
  margin-top: 43px!important;
  margin: 0 auto;
  display: block;
}
.bbest-banner-divider-title {
  font-family: Barlow!important;
  font-size: 36px!important;
  font-style: normal!important;
  font-weight: 600!important;
  line-height: 42px!important;
  letter-spacing: 0px!important;
  text-align: left!important;
}
.bbest-banner-divider-text {
  font-family: Barlow!important;
  font-size: 14px!important;
  font-style: normal!important;
  font-weight: 500!important;
  line-height: 20px!important;
  letter-spacing: 0px!important;
  text-align: left!important;
}

}
@media (max-width: 991px) {
.bbest-banner-divider {
  padding: 50px;
}
.bbest-banner-divider-right > img {
  position: relative;
  top: -108px;
  left: 32px;
  width: auto;
}
.bbest-banner-divider h1 {
  font-size: 36px;
  font-weight: 600;
}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.bbest-banner-divider-right > img {
    position: relative;
    left: 27px;
		  bottom: 0;
    width: auto;
}
}
@media (max-width: 1200px){
.bbest-banner-divider {
  padding: 40px;
}
.bbest-banner-divider-right > img {
  top: -99px;
}
}



